<div class="row">
  <ul>
    <li>
      <p>参加者：<span><%= @participations_join_num %></span></p>    
      <p>未定者：<span><%= @participations_undecided_num %></span></p>    
      <p>不参加者：<span><%= @participations_non_num %></span></p>    
    </li>
  </ul>

</div>