      <div class="index-game__panel panel panel-success">
        <div class="index-game__panel__heading panel-heading">
          <h3>過去の試合一覧</h3>
        </div>
        <div class="index-game__panel__body panel-body">
          <h4>試合した結果一覧です。</h4>
            <ul>
              <% @games.each do |game| %>
                <li><%=link_to "#{Team.where(game.win_id}", game_path(game), class: "index-item__event__panel__body__link" %></li>
              <% end %>
            </ul>
        </div>
      </div>