<div class="index">
  <div class="row">
    <div class="index-event col-xs-6">

      <%= render 'event_index' %>

    </div>
    <div class="index-game col-xs-6">

      <%= render 'game_index' %>

    </div>
  </div>
</div>