  <div class="home-about__header">
    <div class="home-about__header__title text-center">
      <h1>Sport for Allってどんなサイト？</h1>
    </div>
    <div class="home-about__header__slide">
      <div class="slide-zoom">
        <div class="slide-image"></div>
        <div class="slide-image"></div>
        <div class="slide-image"></div>
        <div class="slide-image"></div>
      </div>
    </div>

    <div class="container-for-all">
      <div class="container-for-all__text text-center">
        <h2>スポーツを愛する方</h2>
        <p>スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。</p>
      </div>
    </div>


      <div class="about-for">
        <div class="about-for__text row">
          <div class="text-center about-for__text__title col-xs-6 animation-left">
            <h2>主催する</h2>
            <p>説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。</p>
          </div>
          <div class="text-right about-for__text__image col-xs-6 animation-right">
            <%= image_tag 'host2.jpg', size: '600x400'%>
          </div>
        </div>
      </div>
      <div class="about-for">
        <div class="about-for__text row">
        <div class="text-center about-for__text__image col-xs-6 animation-left">

        </div>
        <div class="text-center about-for__text__title col-xs-6 animation-right">
          <h2>参加する</h2>
          <p>説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。</p>
        </div>
        </div>
      </div>
      <div class="about-for">
        <div class="about-for__text row">
          <div class="text-center about-for__text__title col-xs-6 animation-left">
            <h2>スケジュール管理</h2>
            <p>説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。</p>
          </div>
          <div class="text-center about-for__text__image col-xs-6 animation-right">
          
          </div>
        </div>
      </div>

  </div>
<script>
  // 1つ目の左側
  $('.animation-left').css('visibility','hidden');
  $(window).scroll(function(){
    var windowHeight = $(window).height(),
        topWindow = $(window).scrollTop();
    $('.animation-left').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 270){
      $(this).addClass("fadeInLeft");
      }
    });
  });

  // 1つ目の右側
  $('.animation-right').css('visibility','hidden');
  $(window).scroll(function(){
    var windowHeight = $(window).height(),
        topWindow = $(window).scrollTop();
    $('.animation-right').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 270){
      $(this).addClass("fadeInRight");
      }
    });
  });
</script>