  <div class="home-about__header">
    <div class="home-about__header__title text-center">
      <h1>Sport for Allってどんなサイト？</h1>
    </div>
    <div class="row">
      <div class="home-about__header__text">
        <div class="home-about__header__text__left col-xs-5 text-center">
          <div class="text">
            <h2>スポーツを愛する方</h2>
            <p>スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。スポーツ大好きな方のためのサイトです。</p>
          </div>
        </div>
        <div class="home-about__header__text__right col-xs-7"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 about-for">
        <div class="about-for__text">
        <div class="text-center about-for__text__title">
          <h2>主催する</h2>
        </div>
          <p>説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。</p>
        </div>
      </div>
      <div class="col-xs-4 about-for">
        <div class="about-for__text">
        <div class="text-center about-for__text__title">
          <h2>参加する</h2>
        </div>
          <p>説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。</p>
        </div>
      </div>
      <div class="col-xs-4 about-for">
        <div class="about-for__text">
        <div class="text-center about-for__text__title">
          <h2>スケジュール管理</h2>
        </div>
          <p>説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。説明文です。</p>
        </div>
      </div>
    </div>
  </div>