<div class="game-index-container">
  <div class="game-index-container__team">
    <% @team1.each do |team1| %>
      <div class="game-index-container__team-item"></div>
    <% end %>
  </div>
  <div class="game-index-container__team">
    <% @team2.each do |team2| %>
      <div class="game-index-container__team-item"></div>
    <% end %>
  </div>
</div>

