.game-halfway {
  margin-bottom: 50px;
}

.game-halfway .game-halfway-container {
  width: 70%;
  height: 70vh;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(50%, red), color-stop(50%, blue), to(blue));
  background: linear-gradient(90deg, red 0%, red 50%, blue 50%, blue 100%);
  position: relative;
}

.game-halfway .game-halfway-container .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.game-halfway .game-halfway-container__team {
  height: 70vh;
  margin: 80px auto;
  position: relative;
}

.game-halfway .game-halfway-container__team__item {
  height: 70vh;
  width: 100%;
  margin-bottom: 20px;
}

.game-halfway .game-halfway-container__team__item .team-item-left {
  width: 80%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.game-halfway .game-halfway-container__team__item .team-item-left__user {
  margin: 0 10px;
}

.game-halfway .game-halfway-container__team__item .team-item-right {
  width: 80%;
  height: 70vh;
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.game-halfway .game-halfway-container__team__item .team-item-right__user {
  margin: 0 10px;
}

.game-halfway .game-halfway-container__team__item:nth-child(1) {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 125% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 125% 100%, 0% 100%);
  background-color: blue;
}

.game-halfway .game-halfway-container__team__item:nth-child(2) {
  -webkit-clip-path: polygon(-25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(-25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background-color: red;
}

.game-halfway .game-halfway-container__team .vs {
  position: absolute;
  top: 50%;
  left: 50%;
  size: 20%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.score-width {
  width: 80px;
}

.game-index {
  width: 70%;
  color: black;
  margin: 60px auto 50px;
}

.game-index .game-index__table {
  margin: 0 auto;
}

.game-index .game-index__table tr {
  height: 60px;
}

.game-index .game-index__table tr td {
  text-align: center;
  width: 80px;
}

.game-index .game-index__table tr .index {
  width: 80px;
}

.game-index .game-index__table tr .win-lose-left {
  margin-left: 30px;
  color: white;
}

.game-index .game-index__table tr .win-lose-right {
  margin-right: 30px;
  color: white;
}

.game-index .game-index__table tr .team-name {
  width: 200px;
}

.game-index .game-index__table tr .score {
  width: 50px;
  line-height: 60px;
}

.game-index .game-index__table tr .winer {
  background-color: red;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  line-height: 40px;
}

.game-new {
  margin-bottom: 50px;
}

.game-new__container {
  width: 60%;
  margin: 0 auto;
}

.game-new__container__panel {
  margin-top: 50px;
  padding-bottom: 80px;
}

.game-new__container .panel-body {
  color: black;
}

.game-new__container .panel-body .side-color {
  border-left: 5px solid #c7f549;
  font-size: 20px;
  padding-left: 5px;
}

.game-new__container .panel-body .team-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-new__container .panel-body .team-flex .team-select {
  width: 200px;
  margin: 0 30px 0;
}

.game-new__container .panel-body .member_select {
  width: 48%;
}

.game-show {
  margin-bottom: 50px;
}

.game-show__panel {
  width: 80%;
  margin: 50px auto;
}

.game-show__panel__heading {
  position: relative;
}

.game-show__panel__heading .game-edit {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
  -webkit-transform: translate(-5%, -50%);
  -ms-transform: translate(-5%, -50%);
}

.game-show__panel__heading .game-edit .icon-orange {
  color: orange;
  font-size: 2.5em;
}

.game-show__panel__body {
  color: black;
}

.game-show__panel__body .team {
  margin: 10px auto;
}

.game-show__panel__body .team .bottom-color {
  border-bottom: 5px solid #c7f549;
  font-size: 20px;
  padding-left: 5px;
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
}
/*# sourceMappingURL=games.css.map */