// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show {
  .introduction {
    border-bottom: 1px solid white;
    padding: 80px 50px;
    width: 90%;
    margin: 0 auto;
    &__header {
      display: flex;


      &__text {
        margin: 0 auto;
        &__flex {
          display: flex;
        }
      }
    }
  }


  .index {
    
    .index-item {

      &__event {
        &__panel {
          margin: 100px;
          &__heading {
            h3 {
              margin: 0;
            }
          }
          &__body {
            color: black;
            height: 600px;
            
            &__link {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}