.user-signup {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: image-url("signup4.jpg");
  background-size: cover;
  background-position: 50% 70%;
  color: white;
  z-index: 0;
  overflow: hidden;
}

.user-signup__container {
  position: relative;
  width: 100%;
  height: 90vh;
  margin: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-signup__container__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.user-signup h1 {
  margin: 0 0 40px 0;
}

.user-signup button, .user-signup input, .user-signup optgroup, .user-signup select, .user-signup textarea {
  color: black;
}

.user-signup input, .user-signup textarea, .user-signup select {
  background-color: white;
  margin-bottom: 10px;
}

.user-signup .sign-up-buttom {
  background-color: #5cb85c;
  color: white;
}

.user-signup .for-user {
  margin-top: 30px;
}

.user-signup:before {
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.user-login {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: image-url("signup3.jpg");
  background-size: cover;
  background-position: 50% 30%;
  color: white;
  z-index: 0;
  overflow: hidden;
}

.user-login__container {
  position: relative;
  width: 100%;
  height: 90vh;
  margin: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-login__container__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.user-login h1 {
  margin: 0 0 40px 0;
}

.user-login button, .user-login input, .user-login optgroup, .user-login select, .user-login textarea {
  color: black;
}

.user-login input, .user-login textarea, .user-login select {
  background-color: white;
  margin-bottom: 20px;
}

.user-login .log-in-button {
  background-color: #5cb85c;
  color: white;
}

.user-login .for-user {
  margin-top: 30px;
}

.user-login:before {
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.user-show .introduction {
  border-bottom: 1px solid white;
  padding: 80px 50px;
  width: 90%;
  margin: 0 auto;
}

.user-show .introduction__header {
  margin: 0 auto;
}

.user-show .introduction__header__image img {
  border-radius: 50%;
}

.user-show .introduction__header__text {
  margin: 50px auto 0;
}

.user-show .introduction__header__text__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-show .introduction__header__text__top {
  margin-bottom: 30px;
}

.user-show .introduction__header__text__top__name {
  font-size: 28px;
}

.user-show .introduction__header__text .game_resolute {
  margin-top: 30px;
}

.user-show .introduction__header__text .game_resolute__item {
  margin: 10px auto;
}

.user-show .calendar {
  width: 80%;
  margin: 0 auto;
}

.user-show .calendar .simple-calendar {
  margin: 50px 0 30px;
  background-color: white;
  color: black;
  border-color: black;
}

.user-show .calendar .simple-calendar th {
  text-align: center;
}

.user-show .calendar .simple-calendar__heading {
  height: 90px;
  line-height: 90px;
  background-color: #FFCCFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user-show .calendar .simple-calendar__heading__title {
  font-size: 24px;
}

.user-show .index .index-event__panel {
  margin: 100px 50px;
}

.user-show .index .index-event__panel__heading h3 {
  margin: 0;
}

.user-show .index .index-event__panel__body {
  color: black;
  height: 600px;
}

.user-show .index .index-event__panel__body__link {
  text-decoration: none;
  color: black;
}

.user-show .index .index-game__panel {
  margin: 100px 50px;
}

.user-show .index .index-game__panel__heading h3 {
  margin: 0;
}

.user-show .index .index-game__panel__body {
  color: black;
  height: 600px;
}

.user-show .index .index-game__panel__body__link {
  text-decoration: none;
  color: black;
}

.user-edit {
  width: 100%;
  height: 100vh;
}

.user-edit .bottom-color {
  margin: 40px 0 20px 80px;
  border-bottom: 5px solid #c7f549;
  font-size: 32px;
  padding-left: 5px;
  display: inline-block;
  text-align: left;
}

.user-edit__container {
  width: 45%;
  margin: 40px auto;
}

.user-edit__container__label {
  margin: 25px auto;
}
/*# sourceMappingURL=users.css.map */